.portfolio-header {
  padding-top: 2rem;
  position: relative;
}

.top-bar {
  /* 'flex justify-between pr-16' */
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 32px;
}

.title {
  /* flex flex-col after:dark:opacity-40 */
  display: flex;
  flex-direction: column;
}

.title > h1:first-child {
  /* font-sans font-bold text-left text-5xl p-4 text-white */
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  font-size : 3rem;
  line-height: 1;

  color: white;
}

.title > h1:first-child > span {
  /* pr-2 cursor-effect */
  padding-right: 2px;

}

.title > h1:last-child {
  /* `font-["Black Han Sans"] text-left text-5xl p-4 text-white` */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  font-size : 3rem;
  line-height: 1;

  padding: 4px;

  color: white;
}

.background-effect {
  position: relative;
  z-index: 0;
}

.background-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.portfolio-nav { 
  /* lg:mb-0 lg:grid-cols-4 lg:text-left" */
  /* margin-bottom: 8rem; */
  display: flex;
  justify-content: center;
  text-align: center;
}

