.portfolio-page {
  background-image: url("/portfolio/navy_back.png");
  background-position-x: center;
  background-repeat: repeat-y;

  background-size: 100%;

  min-height: 100vh;
}

.portfolio-main {
  display: flex;
  flex-direction: column;

  width: 60%;
  margin: 0 auto;
  margin-top: 16px;
  height: 100%;

  color: white;

  background-color: #0B2447;
  border-radius: 32px;

  padding: 2rem;
}

/* @media screen and (max-width: 600px) {
  .portfolio-page {
    
  }
} */