/* 사이드바에 대한 CSS */
.sidebar nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #333;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 999;
}

/* 사이드바가 열렸을 때의 CSS */
.sidebar nav.open {
  transform: translateX(0);
}

/* 사이드바 내부의 링크에 대한 CSS */
.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem 0;
}

/* 버튼에 대한 CSS */
.sidebar button {
  position: fixed;
  left: 100%;
  bottom: 40%;
  z-index: 1000;  /* 사이드바 위에 버튼이 나타나도록 z-index 설정 */
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: left 0.3s ease-out;

  min-height: 100px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.sidebar button.open {
  left: 240px;
}