.card {
  /* display: inline; */

  background: #fff;
  border-radius: 0.6em;
  margin: 1em;
  padding: 1em;
  overflow: hidden;
  cursor: auto;
  box-shadow: 0 0 1em hsla(240, 30.1%, 28%, 0.25);
  transition: all ease 200ms;

}

.card:hover {
  transform: scale(1.03);
  box-shadow: hsla(240, 30.1%, 28%, 0.25);
}